.contacts {
  display: flex;
  align-items: center;
  min-height: 100vh;

  &__container {
    width: 100%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 30px 25px;
    max-width: 356px;
    width: 100%;
    min-height: 515px;
    background-color: var(--dark-color);
    border-radius: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    height: 283px;
    overflow-y: auto;
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__inner-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    min-width: 35px;
    min-height: 35px;
    background-color: var(--yellow-color);
    border-radius: 50%;
  }

  &__avatar {
    margin: 0;
    font-size: 24px;
    color: var(--dark-color);
  }

  &__contact-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
  }

  &__tel {
    margin: 0;
    font-size: 11px;
    opacity: 0.75;
  }

  &__button-star {
    line-height: 0;
    transition: fill 0.4s;

    &:hover {
      fill: var(--barberry-color);
    }

    &.active {
      fill: var(--barberry-color);

      &:hover {
        fill: var(--dark-color);
      }
    }
  }

  &__star {
    width: 13px;
    height: 12px;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &::after {
      position: absolute;
      content: "";
      width: 115%;
      top: -20px;
      left: -8%;
      border-top: 1px solid var(--bird-flower-color);
      opacity: 0.25;
    }
  }

  &__input-name {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    border-radius: 15px;
    color: var(--light-color);
    background-color: inherit;
    border: 1px solid rgba(246, 251, 253, 0.28);

    &::placeholder {
      text-align: center;
      font-family: Rubik, sans-serif;
      font-size: 14px;
    }
  }

  &__input-tel {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    border-radius: 15px;
    color: var(--light-color);
    background-color: inherit;
    border: 1px solid rgba(246, 251, 253, 0.28);

    &::placeholder {
      text-align: center;
      font-family: Rubik, sans-serif;
      font-size: 14px;
    }
  }

  &__button {
    padding: 8px 0;
    width: 100%;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    background-color: var(--bird-flower-color);
    border-radius: 15px;
    color: var(--dark-color);
    transition: transform 0.4s;

    &:hover {
      transform: scale(0.95);
    }
  }
}
